    /* Police d'écriture */
@font-face {
    font-family: 'smooth_circularsregular';
    src: url('../font/smooth_circulars-webfont.woff2') format('woff2'),
         url('../font/smooth_circulars-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    /* pokee */
@keyframes chargement {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}
body {
    margin: 0;
    max-width: 100% !important;
	width: 100% !important;
    overflow:hidden !important;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: chargement 1s ease 0.2s backwards;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

    /* Titre */
h1 {
    font-family: 'smooth_circularsregular';
    font-size: 8vh;
    user-select: none;
    color: #ffffff;
    text-shadow: .0 .1em 0.1em #555555;
    margin-block-end: 0.5em;
}

    /* Bouton Commander */
a {
    text-decoration: none;
}
#commander {
    background-color: #ffffff;
    border-radius: 2em;
    border-style: none;
    box-shadow: #36363633 0 3px 5px -1px,#00000024 0 6px 10px 0,#0000001f 0 1px 18px 0;
    color: #8b8b8b;
    cursor: pointer;
    font-family: 'smooth_circularsregular';
    font-size: 2vh;
    padding: 0.1em 1em;
    position: relative;
    text-align: center;
    user-select: none;
    transition: all .3s ease-in-out;
    outline: none;
}
#commander:hover {
    background: #ffffff;
    color: #696969;
    transform: scale(1.1);
}